/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 1px;
}

#recipe-details {
    padding: 20px;
}

#nutrition-info {
    margin-bottom: 20px;
    font-size: 18px;
}

#cooking-steps {
    list-style-type: decimal;
    font-size: 16px;
    line-height: 1.5;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
